# Data Science Tools and Ecosystem

In [1]:
"Data Science Tools and Ecosystem"

'Data Science Tools and Ecosystem'

In [2]:
"In this notebook, Data Science Tools and Ecosystem are summarized"

'In this notebook, Data Science Tools and Ecosystem are summarized'

  Objectives:

- Add comments to code cells
- Create markdown cells
- Add ordered and unordered lists to markdown cells
- Format content of markdown cells with heading styles

In [ ]:
Author

Tchaa Katansaou

In [ ]:
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. Javacript
9. php
10. Go
11. Ruby
12. Visual Basic

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch
9. Apache Spark
10. Vegas
11. Big DL
12. Ggplot2

In [ ]:
Data Science Tools 
______________________

Anaconda

Jupyter Notebooks

R Studio

Spyder

Zeppelin

In [ ]:
 Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [9]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335