# Data Science Tools and Ecosystem

In [6]:
#In this notebook, Data Science Tools and Ecosystem are summarized

In [ ]:
**Objectives:**

- List popular languages for Data Science.
- Identify commonly used Data Science libraries.
- Summarize tools and environments used in Data Science.
- Demonstrate examples of simple arithmetic operations.
- Convert time units using Python code.

In [11]:
## Author

"Tchaa Katansaou"

'Tchaa Katansaou'

In [ ]:
## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. Java

In [ ]:
##Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TebsirFlow
6. Seaborn
7. gglot2
8. dplyr
9. caret

In [ ]:
| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

1. **Addition**: `3 + 5`  
   - Résultat : 8

2. **Soustraction**: `10 - 4`  
   - Résultat : 6

3. **Multiplication**: `7 * 6`  
   - Résultat : 42

4. **Division**: `20 / 4`  
   - Résultat : 5.0

5. **Modulus (reste de division)**: `10 % 3`  
   - Résultat : 1

6. **Puissance**: `2 ** 3`  
   - Résultat : 8

In [8]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [9]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335